@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 90%;
}

html {
    display:flex;
    justify-content: center;
    background-color: lightgrey;
}

body {
    background-color: white;
    width: 60%;    
}

.me {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
   
}


img.me-img {
    height: 280px;
    margin-right: 10px;
    margin-left: 50px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Pretendard-Regular';
  background-color: white;
}

.github-img {
    height: 25px;
    width: 25px;
}

.github {
    display: flex;
    align-items: center;

}

.skills ul {
  display: flex;
  flex-wrap: wrap;  /* 줄바꿈 허용 */
  list-style: none; /* li 앞 점 없애기 */
  padding: 0;
}

.certificate-list ul{
  list-style: none; 
}

.skills ul li {
  width: 30%;       /* 한 줄에 3개 (조금 여유있게 30%) */
  margin: 1%;       /* 항목 사이 여백 */
}

hr {
    margin-top: 10px;
    width: 80%;
    color: #f1f3f5;
    opacity: 0.5;
}


h2 {
    color: black;
    opacity: 0.7;
}

.badge {
    display: flex;
    width: 400px;
    justify-content: center;
    
}
.badge img {
    display: flex;
    justify-content: center;
    margin-left: 3px;
}

.contact-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.experience-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-item {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}

.experience-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.experience-item-content {
  flex: 1;
  margin-right: 100px;
}

.experience-list img { 
width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: 50px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

header strong {
    font-size: 50px;
}